$philly-sans: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', 'Gotham Narrow Ssm',
  'Arial', sans-serif;
$philly-serif: 'Sentinel SSm A', 'Sentinel SSm B', 'Sentinel SSm',
  'Times New Roman', serif;
$philly-red: #c00;
$philly-red2: #b63321;
$philly-blue: #0061a2;
$philly-darkblue: #0a3f59;
$philly-teal: #009999;
$philly-orange: #cc9900;
$philly-green: #669900;
$philly-purple: #9900cc;
$philly-darkgray: #222;
$philly-gray: #666;
$philly-lightgray: #d9d9d9;

@mixin fontSmoothing {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

@mixin desktop {
  @media only screen and (max-width: 2000px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 800px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
@mixin notMobile {
  @media only screen and (min-width: 480px) {
    @content;
  }
}
@mixin BS-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin BS-medium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin BS-small {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
