</div>
</div>
</div>
</div>
</div>
</div>
<div class="pb-container"> </div>
</article>
</div>
<section id="bottom">
  <div class="wrapper clearfix full pb-feature pb-layout-item pb-f-global-footer" id="f0B7Gj1nmm1llr">
    <footer class="card container-column align-items-stretch relative color-white">
      <div class="flex no-padding">
        <div class="footer-social-container">
          <div class="footer-container container-row align-items-center">
            <div class="padded padded-top padded-bottom padded-sm flex-4 hidden-tablet hidden-mobile"> <a data-link-type='footer' aria-label="Visit homepage" href="http://www.inquirer.com" data-link-type="footer">
                <div class="logo-inquirer-footer logo-inverted"></div>
              </a> </div>
            <div class="footer-share-bar-container flex container-row mobile-column justify-center">
              <div class="full-width spaced spaced-sm spaced-bottom spaced-top">
                <div class="container-row justify-space-evenly align-items-center spaced spaced-sm spaced-top spaced-bottom hide-last-child"> <a class="btn follow-btn font-bold follow-btn-sm follow-btn-dark no-wrap no-overflow text-overflow-ellipsis"
                    href="https://twitter.com/phillyinquirer" target="_blank"> <i class="fa fa-twitter spaced"></i> <span class="uppercase">twitter</span> </a> <span class="vertical-divider vertical-divider-dark spaced hideable-element"></span> <a
                    class="btn follow-btn font-bold follow-btn-sm follow-btn-dark no-wrap no-overflow text-overflow-ellipsis" href="https://www.facebook.com/philadelphiainquirer/" target="_blank"> <i class="fa fa-facebook spaced"></i> <span class="uppercase">facebook</span>
                  </a> <span class="vertical-divider vertical-divider-dark spaced hideable-element"></span> <a class="btn follow-btn font-bold follow-btn-sm follow-btn-dark no-wrap no-overflow text-overflow-ellipsis" href="https://www.instagram.com/phillyinquirer"
                    target="_blank"> <i class="fa fa-instagram spaced"></i> <span class="uppercase">instagram</span> </a> <span class="vertical-divider vertical-divider-dark spaced hideable-element"></span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-grid-container">
          <div class="footer-inner-grid-container">
            <div class="footer-links justify-center">
              <div class="footer-container footer-links-inner" tabindex="0">
                <div class="container-column hidden-desktop">
                  <div class="links-headline uppercase spaced spaced-bottom spaced-top spaced-sm">News & Info</div>
                  <ul class="list-unstyled container-row wrap spaced spaced-bottom spaced-md list-unstyled">
                    <li class=""> <a href="/news/" data-pb-url-field="custom.textURL_0_1111" data-pb-field="custom.text_0_1111" data-pb-field-type="text" data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">News</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/sports/" data-pb-url-field="custom.textURL_1_1111" data-pb-field="custom.text_1_1111" data-pb-field-type="text" data-pb-placeholder="Link #2" data-link-type='footer' class="color-white footer-link">Sports</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/entertainment/" data-pb-url-field="custom.textURL_2_1111" data-pb-field="custom.text_2_1111" data-pb-field-type="text" data-pb-placeholder="Link #3" data-link-type='footer' class="color-white footer-link">Entertainment</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/business/" data-pb-url-field="custom.textURL_3_1111" data-pb-field="custom.text_3_1111" data-pb-field-type="text" data-pb-placeholder="Link #4" data-link-type='footer' class="color-white footer-link">Business</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/health/" data-pb-url-field="custom.textURL_4_1111" data-pb-field="custom.text_4_1111" data-pb-field-type="text" data-pb-placeholder="Link #5" data-link-type='footer' class="color-white footer-link">Health</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/food/" data-pb-url-field="custom.textURL_5_1111" data-pb-field="custom.text_5_1111" data-pb-field-type="text" data-pb-placeholder="Link #6" data-link-type='footer' class="color-white footer-link">Food</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/life/" data-pb-url-field="custom.textURL_6_1111" data-pb-field="custom.text_6_1111" data-pb-field-type="text" data-pb-placeholder="Link #7" data-link-type='footer' class="color-white footer-link">Life</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/opinion/" data-pb-url-field="custom.textURL_7_1111" data-pb-field="custom.text_7_1111" data-pb-field-type="text" data-pb-placeholder="Link #8" data-link-type='footer' class="color-white footer-link">Opinion</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/archives/" data-pb-url-field="custom.textURL_8_1111" data-pb-field="custom.text_8_1111" data-pb-field-type="text" data-pb-placeholder="Link #9" data-link-type='footer' class="color-white footer-link">Archives</a>
                    </li>
                  </ul>
                  <div class="links-headline uppercase spaced spaced-bottom spaced-top spaced-sm">About Us</div>
                  <ul class="list-unstyled container-row wrap spaced spaced-bottom spaced-md list-unstyled">
                    <li class=""> <a href="/about/" data-pb-url-field="custom.textURL_0_4444" data-pb-field="custom.text_0_4444" data-pb-field-type="text" data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">About
                        The Philadelphia Inquirer</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="http://inquirersolutions.com" data-pb-url-field="custom.textURL_1_4444" data-pb-field="custom.text_1_4444" data-pb-field-type="text" data-pb-placeholder="Link #2" data-link-type='footer' class="color-white footer-link">Advertise</a>
                    </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/contact-us/" data-pb-url-field="custom.textURL_2_4444" data-pb-field="custom.text_2_4444" data-pb-field-type="text" data-pb-placeholder="Link #3" data-link-type='footer' class="color-white footer-link">Contact
                        Us</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="http://olt.theygsgroup.com/philly/" data-pb-url-field="custom.textURL_3_4444" data-pb-field="custom.text_3_4444" data-pb-field-type="text" data-pb-placeholder="Link #4" data-link-type='footer' class="color-white footer-link">Licensing
                        & Permissions</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="https://store.philly.com/collections/custom/products/custom-photo-reprint" data-pb-url-field="custom.textURL_4_4444" data-pb-field="custom.text_4_4444" data-pb-field-type="text" data-pb-placeholder="Link #5"
                        data-link-type='footer' class="color-white footer-link">Photo Reprints</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="http://nie.philly.com/" data-pb-url-field="custom.textURL_5_4444" data-pb-field="custom.text_5_4444" data-pb-field-type="text" data-pb-placeholder="Link #6" data-link-type='footer' class="color-white footer-link">Newspapers
                        in Education</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/careers/" data-pb-url-field="custom.textURL_6_4444" data-pb-field="custom.text_6_4444" data-pb-field-type="text" data-pb-placeholder="Link #7" data-link-type='footer' class="color-white footer-link">Jobs &
                        Internships</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="https://www.philly.com/special-reports/" data-pb-url-field="custom.textURL_7_4444" data-pb-field="custom.text_7_4444" data-pb-field-type="text" data-pb-placeholder="Link #8" data-link-type='footer' class="color-white footer-link">Special
                        Reports</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/acel_moore/" data-pb-url-field="custom.textURL_8_4444" data-pb-field="custom.text_8_4444" data-pb-field-type="text" data-pb-placeholder="Link #9" data-link-type='footer' class="color-white footer-link">Acel
                        Moore Workshops</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="/about/newsroom-staff-beats-list.html" data-pb-url-field="custom.textURL_9_4444" data-pb-field="custom.text_9_4444" data-pb-field-type="text" data-pb-placeholder="Link #10" data-link-type='footer' class="color-white footer-link">Newsroom
                        Staff</a> </li>
                  </ul>
                  <div class="links-headline uppercase spaced spaced-bottom spaced-top spaced-sm">Marketplace</div>
                  <ul class="list-unstyled container-row wrap spaced spaced-bottom spaced-md list-unstyled">
                    <li class=""> <a href="https://store.philly.com/" data-pb-url-field="custom.textURL_0_2222" data-pb-field="custom.text_0_2222" data-pb-field-type="text" data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">Inquirer
                        Store</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="http://marketplace.philly.com/philadelphia/real-estate-for-sale/search" data-pb-url-field="custom.textURL_1_2222" data-pb-field="custom.text_1_2222" data-pb-field-type="text" data-pb-placeholder="Link #2"
                        data-link-type='footer' class="color-white footer-link">Find a Home</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="https://jobs.local-jobs.monster.com/search?q=ch=pinq/" data-pb-url-field="custom.textURL_2_2222" data-pb-field="custom.text_2_2222" data-pb-field-type="text" data-pb-placeholder="Link #3" data-link-type='footer'
                        class="color-white footer-link">Job Listings</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="http://specialsections.philly.com/philly-inquirer/special-sections" data-pb-url-field="custom.textURL_3_2222" data-pb-field="custom.text_3_2222" data-pb-field-type="text" data-pb-placeholder="Link #4"
                        data-link-type='footer' class="color-white footer-link">Special Sections</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="http://marketplace.philly.com/" data-pb-url-field="custom.textURL_4_2222" data-pb-field="custom.text_4_2222" data-pb-field-type="text" data-pb-placeholder="Link #5" data-link-type='footer' class="color-white footer-link">All
                        Classifieds</a> </li>
                  </ul>
                  <div class="links-headline uppercase spaced spaced-bottom spaced-top spaced-sm">Mobile Apps</div>
                  <ul class="list-unstyled container-row wrap spaced spaced-bottom spaced-md list-unstyled">
                    <li class=""> <a href="https://itunes.apple.com/app/apple-store/id577251728?pt=549215&ct=Philly.com%20Footer&mt=8" data-pb-url-field="custom.textURL_0_3333" data-pb-field="custom.text_0_3333" data-pb-field-type="text"
                        data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">Philly News</a> </li>
                    <li class="color-white spaced spaced-right spaced-left spaced-sm">/</li>
                    <li class=""> <a href="https://itunes.apple.com/app/apple-store/id970040558?pt=549215&ct=philly.com%20footer&mt=8" data-pb-url-field="custom.textURL_1_3333" data-pb-field="custom.text_1_3333" data-pb-field-type="text"
                        data-pb-placeholder="Link #2" data-link-type='footer' class="color-white footer-link">Philly Sports Now</a> </li>
                  </ul>
                </div>
                <div class="container-row hidden-mobile hidden-tablet">
                  <div class="container-column flex spaced spaced-right spaced-xl">
                    <div class="links-headline uppercase spaced spaced-bottom spaced-sm">News & Info</div>
                    <ul class="list-unstyled container-column spaced spaced-bottom spaced-md list-unstyled">
                      <li class=""> <a href="/news/" data-pb-url-field="custom.textURL_0_1111" data-pb-field="custom.text_0_1111" data-pb-field-type="text" data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">News</a>
                      </li>
                      <li class=""> <a href="/sports/" data-pb-url-field="custom.textURL_1_1111" data-pb-field="custom.text_1_1111" data-pb-field-type="text" data-pb-placeholder="Link #2" data-link-type='footer' class="color-white footer-link">Sports</a>
                      </li>
                      <li class=""> <a href="/entertainment/" data-pb-url-field="custom.textURL_2_1111" data-pb-field="custom.text_2_1111" data-pb-field-type="text" data-pb-placeholder="Link #3" data-link-type='footer' class="color-white footer-link">Entertainment</a>
                      </li>
                      <li class=""> <a href="/business/" data-pb-url-field="custom.textURL_3_1111" data-pb-field="custom.text_3_1111" data-pb-field-type="text" data-pb-placeholder="Link #4" data-link-type='footer' class="color-white footer-link">Business</a>
                      </li>
                      <li class=""> <a href="/health/" data-pb-url-field="custom.textURL_4_1111" data-pb-field="custom.text_4_1111" data-pb-field-type="text" data-pb-placeholder="Link #5" data-link-type='footer' class="color-white footer-link">Health</a>
                      </li>
                      <li class=""> <a href="/food/" data-pb-url-field="custom.textURL_5_1111" data-pb-field="custom.text_5_1111" data-pb-field-type="text" data-pb-placeholder="Link #6" data-link-type='footer' class="color-white footer-link">Food</a>
                      </li>
                      <li class=""> <a href="/life/" data-pb-url-field="custom.textURL_6_1111" data-pb-field="custom.text_6_1111" data-pb-field-type="text" data-pb-placeholder="Link #7" data-link-type='footer' class="color-white footer-link">Life</a>
                      </li>
                      <li class=""> <a href="/opinion/" data-pb-url-field="custom.textURL_7_1111" data-pb-field="custom.text_7_1111" data-pb-field-type="text" data-pb-placeholder="Link #8" data-link-type='footer' class="color-white footer-link">Opinion</a>
                      </li>
                      <li class=""> <a href="/archives/" data-pb-url-field="custom.textURL_8_1111" data-pb-field="custom.text_8_1111" data-pb-field-type="text" data-pb-placeholder="Link #9" data-link-type='footer' class="color-white footer-link">Archives</a>
                      </li>
                    </ul>
                  </div>
                  <div class="container-column flex spaced spaced-right spaced-xl">
                    <div class="links-headline uppercase spaced spaced-bottom spaced-sm">Marketplace</div>
                    <ul class="list-unstyled container-column spaced spaced-bottom spaced-md list-unstyled">
                      <li class=""> <a href="https://store.philly.com/" data-pb-url-field="custom.textURL_0_2222" data-pb-field="custom.text_0_2222" data-pb-field-type="text" data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">Inquirer
                          Store</a> </li>
                      <li class=""> <a href="http://marketplace.philly.com/philadelphia/real-estate-for-sale/search" data-pb-url-field="custom.textURL_1_2222" data-pb-field="custom.text_1_2222" data-pb-field-type="text" data-pb-placeholder="Link #2"
                          data-link-type='footer' class="color-white footer-link">Find a Home</a> </li>
                      <li class=""> <a href="https://jobs.local-jobs.monster.com/search?q=ch=pinq/" data-pb-url-field="custom.textURL_2_2222" data-pb-field="custom.text_2_2222" data-pb-field-type="text" data-pb-placeholder="Link #3" data-link-type='footer'
                          class="color-white footer-link">Job Listings</a> </li>
                      <li class=""> <a href="http://specialsections.philly.com/philly-inquirer/special-sections" data-pb-url-field="custom.textURL_3_2222" data-pb-field="custom.text_3_2222" data-pb-field-type="text" data-pb-placeholder="Link #4"
                          data-link-type='footer' class="color-white footer-link">Special Sections</a> </li>
                      <li class=""> <a href="http://marketplace.philly.com/" data-pb-url-field="custom.textURL_4_2222" data-pb-field="custom.text_4_2222" data-pb-field-type="text" data-pb-placeholder="Link #5" data-link-type='footer' class="color-white footer-link">All
                          Classifieds</a> </li>
                    </ul>
                    <div class="container-column flex spaced spaced-right spaced-xl">
                      <div class="links-headline uppercase spaced spaced-bottom spaced-sm">Mobile Apps</div>
                      <ul class="list-unstyled container-column spaced spaced-bottom spaced-md list-unstyled">
                        <li class=""> <a href="https://itunes.apple.com/app/apple-store/id577251728?pt=549215&ct=Philly.com%20Footer&mt=8" data-pb-url-field="custom.textURL_0_3333" data-pb-field="custom.text_0_3333" data-pb-field-type="text"
                            data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">Philly News</a> </li>
                        <li class=""> <a href="https://itunes.apple.com/app/apple-store/id970040558?pt=549215&ct=philly.com%20footer&mt=8" data-pb-url-field="custom.textURL_1_3333" data-pb-field="custom.text_1_3333" data-pb-field-type="text"
                            data-pb-placeholder="Link #2" data-link-type='footer' class="color-white footer-link">Philly Sports Now</a> </li>
                      </ul>
                    </div>
                  </div>
                  <div class="container-column flex spaced spaced-right spaced-xl">
                    <div class="links-headline uppercase spaced spaced-bottom spaced-sm">About Us</div>
                    <ul class="list-unstyled container-column spaced spaced-bottom spaced-md list-unstyled">
                      <li class=""> <a href="/about/" data-pb-url-field="custom.textURL_0_4444" data-pb-field="custom.text_0_4444" data-pb-field-type="text" data-pb-placeholder="Link #1" data-link-type='footer' class="color-white footer-link">About
                          The Philadelphia Inquirer</a> </li>
                      <li class=""> <a href="http://inquirersolutions.com" data-pb-url-field="custom.textURL_1_4444" data-pb-field="custom.text_1_4444" data-pb-field-type="text" data-pb-placeholder="Link #2" data-link-type='footer' class="color-white footer-link">Advertise</a>
                      </li>
                      <li class=""> <a href="/contact-us/" data-pb-url-field="custom.textURL_2_4444" data-pb-field="custom.text_2_4444" data-pb-field-type="text" data-pb-placeholder="Link #3" data-link-type='footer' class="color-white footer-link">Contact
                          Us</a> </li>
                      <li class=""> <a href="http://olt.theygsgroup.com/philly/" data-pb-url-field="custom.textURL_3_4444" data-pb-field="custom.text_3_4444" data-pb-field-type="text" data-pb-placeholder="Link #4" data-link-type='footer' class="color-white footer-link">Licensing
                          & Permissions</a> </li>
                      <li class=""> <a href="https://store.philly.com/collections/custom/products/custom-photo-reprint" data-pb-url-field="custom.textURL_4_4444" data-pb-field="custom.text_4_4444" data-pb-field-type="text" data-pb-placeholder="Link #5"
                          data-link-type='footer' class="color-white footer-link">Photo Reprints</a> </li>
                      <li class=""> <a href="http://nie.philly.com/" data-pb-url-field="custom.textURL_5_4444" data-pb-field="custom.text_5_4444" data-pb-field-type="text" data-pb-placeholder="Link #6" data-link-type='footer' class="color-white footer-link">Newspapers
                          in Education</a> </li>
                      <li class=""> <a href="/careers/" data-pb-url-field="custom.textURL_6_4444" data-pb-field="custom.text_6_4444" data-pb-field-type="text" data-pb-placeholder="Link #7" data-link-type='footer' class="color-white footer-link">Jobs
                          & Internships</a> </li>
                      <li class=""> <a href="https://www.philly.com/special-reports/" data-pb-url-field="custom.textURL_7_4444" data-pb-field="custom.text_7_4444" data-pb-field-type="text" data-pb-placeholder="Link #8" data-link-type='footer' class="color-white footer-link">Special
                          Reports</a> </li>
                      <li class=""> <a href="/acel_moore/" data-pb-url-field="custom.textURL_8_4444" data-pb-field="custom.text_8_4444" data-pb-field-type="text" data-pb-placeholder="Link #9" data-link-type='footer' class="color-white footer-link">Acel
                          Moore Workshops</a> </li>
                      <li class=""> <a href="/about/newsroom-staff-beats-list.html" data-pb-url-field="custom.textURL_9_4444" data-pb-field="custom.text_9_4444" data-pb-field-type="text" data-pb-placeholder="Link #10" data-link-type='footer' class="color-white footer-link">Newsroom
                          Staff</a> </li>
                    </ul>
                  </div>
                  <div class="hidden-mobile container-row justify-space-between align-items-start flex-2 list-unstyled spaced spaced-left spaced-xl">
                    <div class="inquirer container-column card card-content card-content-no-top-gutter card-content-no-gutter spaced spaced-lg spaced-right">
                      <div class="branding relative card-media"> <a href="https://myaccount.inquirer.com/access.aspx?product=eEdition_inq">
                          <div class="img-gradient"></div> <img src="https://www.inquirer.com/resizer/T1ZE42KbhdSa0cpHrj6LGXMlv8Y=/150x150/left/top/media.inquirer.com/storage/inquirer/covers/inqFrontPage.jpg%3Fd=20190607" itemprop="image" alt="Subscribe to The Inquirer" />
                        </a> </div>
                      <ul class="partner-links container-column list-unstyled">
                        <div class="partner-title color-white uppercase spaced spaced-bottom spaced-top spaced-sm">The Inquirer</div> <a data-link-type='footer' href="https://digital.olivesoftware.com/Olive/ODN/PhiladelphiaInquirer/Default.aspx"
                          data-link-type="footer" data-pb-field="custom.inquirerPartnerLinkText_0" data-pb-url-field="custom.inquirerPartnerLinkUrl_0" data-pb-field-type="text" data-pb-placeholder="" class="color-white footer-link">
                          <li class="color-white footer-link">Digital Edition</li>
                        </a> <a data-link-type='footer' href="https://checkout.inquirer.com/homepagefooter_inquirer_subscribe?utm_source=philly.com&utm_medium=homepage&utm_campaign=homepagefooter_inquirersubscribe_link" data-link-type="footer"
                          data-pb-field="custom.inquirerPartnerLinkText_1" data-pb-url-field="custom.inquirerPartnerLinkUrl_1" data-pb-field-type="text" data-pb-placeholder="" class="color-white footer-link">
                          <li class="color-white footer-link">Subscribe</li>
                        </a> <a data-link-type='footer' href="https://myaccount.inquirer.com/" data-link-type="footer" data-pb-field="custom.inquirerPartnerLinkText_2" data-pb-url-field="custom.inquirerPartnerLinkUrl_2" data-pb-field-type="text"
                          data-pb-placeholder="" class="color-white footer-link">
                          <li class="color-white footer-link">Subscriber Services</li>
                        </a>
                      </ul>
                    </div>
                    <div class="daily-news container-column card card-content card-content-no-top-gutter card-content-no-gutter">
                      <div class="branding relative card-media"> <a href="https://myaccount.inquirer.com/access.aspx?product=eEdition_dn">
                          <div class="img-gradient"></div> <img src="https://www.inquirer.com/resizer/DpKu16V1EwIrmkm0_L9gbJ3O4wY=/150x150/left/top/media.inquirer.com/storage/dailynews/covers/front.jpg%3Fd=20190607" itemprop="image" alt="Subscribe to Daily News" />
                        </a> </div>
                      <ul class="partner-links container-column list-unstyled">
                        <div class="partner-title color-white uppercase spaced spaced-bottom spaced-top spaced-sm">The Daily News</div> <a data-link-type='footer' href="https://digital.olivesoftware.com/Olive/ODN/PhiladelphiaDailyNews/default.aspx"
                          data-link-type="footer" data-pb-field="custom.dailyNewsPartnerLinkText_0" data-pb-url-field="custom.dailyNewsPartnerLinkUrl_0" data-pb-field-type="text" data-pb-placeholder="" class="color-white footer-link">
                          <li class="color-white footer-link">Digital Edition</li>
                        </a> <a data-link-type='footer' href="https://checkout.inquirer.com/homepagefooter_dailynews_subscribe?utm_source=philly.com&utm_medium=homepage&utm_campaign=homepagefooter_dailynewssubscribe_link" data-link-type="footer"
                          data-pb-field="custom.dailyNewsPartnerLinkText_1" data-pb-url-field="custom.dailyNewsPartnerLinkUrl_1" data-pb-field-type="text" data-pb-placeholder="" class="color-white footer-link">
                          <li class="color-white footer-link">Subscribe</li>
                        </a> <a data-link-type='footer' href="https://myaccount.inquirer.com/" data-link-type="footer" data-pb-field="custom.dailyNewsPartnerLinkText_2" data-pb-url-field="custom.dailyNewsPartnerLinkUrl_2" data-pb-field-type="text"
                          data-pb-placeholder="" class="color-white footer-link">
                          <li class="color-white footer-link">Subscriber Services</li>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="partners hidden-desktop">
                <div class="container-row justify-space-evenly align-items-start list-unstyled spaced spaced-bottom spaced-top spaced-xl">
                  <div class="inquirer card card-content card-content-no-top-gutter card-content-no-gutter flex spaced spaced-lg spaced-right">
                    <div class="relative card-media"> <a href="https://myaccount.inquirer.com/access.aspx?product=eEdition_inq">
                        <div class="img-gradient full-width"></div> <img src="https://www.inquirer.com/resizer/RbPGWGTCaxCtMQsyhi0BjyDyziA=/500x500/left/top/media.inquirer.com/storage/inquirer/covers/inqFrontPage.jpg" class="full-width" itemprop="image"
                          alt="Subscribe to The Inquirer" />
                      </a> </div>
                    <ul class="partner-links container-column list-unstyled">
                      <div class="partner-title color-white uppercase spaced spaced-bottom spaced-top spaced-sm">The Inquirer</div> <a data-link-type='footer' href="https://digital.olivesoftware.com/Olive/ODN/PhiladelphiaInquirer/Default.aspx"
                        data-link-type="footer" data-pb-field="custom.inquirerPartnerLinkText_0" data-pb-url-field="custom.inquirerPartnerLinkUrl_0" data-pb-field-type="text" data-pb-placeholder="">
                        <li class="color-white footer-link">Digital Edition</li>
                      </a> <a data-link-type='footer' href="https://checkout.inquirer.com/homepagefooter_inquirer_subscribe?utm_source=philly.com&utm_medium=homepage&utm_campaign=homepagefooter_inquirersubscribe_link" data-link-type="footer"
                        data-pb-field="custom.inquirerPartnerLinkText_1" data-pb-url-field="custom.inquirerPartnerLinkUrl_1" data-pb-field-type="text" data-pb-placeholder="">
                        <li class="color-white footer-link">Subscribe</li>
                      </a> <a data-link-type='footer' href="https://myaccount.inquirer.com/" data-link-type="footer" data-pb-field="custom.inquirerPartnerLinkText_2" data-pb-url-field="custom.inquirerPartnerLinkUrl_2" data-pb-field-type="text"
                        data-pb-placeholder="">
                        <li class="color-white footer-link">Subscriber Services</li>
                      </a>
                    </ul>
                  </div>
                  <div class="daily-news card card-content card-content-no-top-gutter card-content-no-gutter flex spaced spaced-lg spaced-left">
                    <div class="relative card-media"> <a href="https://myaccount.inquirer.com/access.aspx?product=eEdition_dn">
                        <div class="img-gradient full-width"></div> <img src="https://www.inquirer.com/resizer/hUiYtRZ4VEqC_-RTxwvjeDyayQY=/500x500/left/top/media.inquirer.com/storage/dailynews/covers/front.jpg" class="full-width" itemprop="image"
                          alt="Subscribe to Daily News" />
                      </a> </div>
                    <ul class="partner-links container-column list-unstyled">
                      <div class="partner-title color-white uppercase spaced spaced-bottom spaced-top spaced-sm">The Daily News</div> <a data-link-type='footer' href="https://digital.olivesoftware.com/Olive/ODN/PhiladelphiaDailyNews/default.aspx"
                        data-link-type="footer" data-pb-field="custom.dailyNewsPartnerLinkText_0" data-pb-url-field="custom.dailyNewsPartnerLinkUrl_0" data-pb-field-type="text" data-pb-placeholder="">
                        <li class="color-white footer-link">Digital Edition</li>
                      </a> <a data-link-type='footer' href="https://checkout.inquirer.com/homepagefooter_dailynews_subscribe?utm_source=philly.com&utm_medium=homepage&utm_campaign=homepagefooter_dailynewssubscribe_link" data-link-type="footer"
                        data-pb-field="custom.dailyNewsPartnerLinkText_1" data-pb-url-field="custom.dailyNewsPartnerLinkUrl_1" data-pb-field-type="text" data-pb-placeholder="">
                        <li class="color-white footer-link">Subscribe</li>
                      </a> <a data-link-type='footer' href="https://myaccount.inquirer.com/" data-link-type="footer" data-pb-field="custom.dailyNewsPartnerLinkText_2" data-pb-url-field="custom.dailyNewsPartnerLinkUrl_2" data-pb-field-type="text"
                        data-pb-placeholder="">
                        <li class="color-white footer-link">Subscriber Services</li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-container">
            <div class="footer-container flex container-column align-items-left justify-center hidden-mobile hidden-tablet">
              <p class="footer-copyright align-center color-white width-100 font-semi-bold spaced spaced-top spaced-sm"> <a href="https://www.inquirer.com/about/copyright/" class="color-white font-bold">&copy; Copyright</a> 2019, The Philadelphia
                Inquirer, LLC <a href="https://www.inquirer.com/about/terms_and_conditions/" class="color-white spaced spaced-right spaced-left spaced-sm font-bold">Terms of Use</a>/<a href="https://www.inquirer.com/privacy-policy" class="color-white spaced spaced-left spaced-sm font-bold">Privacy
                  Policy</a> </p>
            </div>
          </div>
          <div class="copyright-container flex container-column align-items-center justify-center hidden-desktop">
            <div class="spaced spaced-top spaced-lg hidden-desktop"> <a data-link-type='footer' aria-label="Visit homepage" href="http://www.inquirer.com" data-link-type="footer">
                <div class="logo-inquirer-footer logo-inverted"></div>
              </a> </div>
            <p class="footer-copyright align-center color-white width-100 font-semi-bold spaced spaced-bottom spaced-lg"> <a href="https://www.inquirer.com/about/copyright/" class="color-white font-bold">&copy; Copyright</a> 2019, The Philadelphia
              Inquirer, LLC <a href="https://www.inquirer.com/about/terms_and_conditions/" class="color-white spaced spaced-right spaced-left spaced-sm font-bold">Terms of Use</a>/<a href="https://www.inquirer.com/privacy-policy" class="color-white spaced spaced-left spaced-sm font-bold">Privacy
                Policy</a> </p>
          </div>
        </div>
    </footer>
  </div>
  <div class="pb-container"> </div>
</section>
</div>
<script></script>
<script></script>
<script></script>
</body>
<script>
  var masthead = document.querySelector(".pb-f-global-main-masthead");
  var appBar = document.querySelector(".pb-f-global-app-bar");
  var topicBar = document.getElementById("topic-bar");
  var previousScroll = window.pageYOffset;

  var e = document.createElement("div");
  e.id = "hidden-app-bar-spacing",
    e.style.height = appBar.offsetHeight + "px",
    appBar.parentNode.insertBefore(e, appBar.nextSibling)



    $(window).scroll(function() {
      var e = window.pageYOffset;
      e < topicBar.offsetTop || (previousScroll > e ? appBar.style.top = 0 : appBar.style.top = -appBar.offsetHeight + topicBar.offsetHeight + "px",
        previousScroll = e)
    })

</script>
<script>
  if (document.getElementById('pf-footer')) {
    const year = new Date().getFullYear()
    document.getElementById('footer-url').innerHTML = window.location.href
    document.getElementById('footer-copyright').innerHTML = '© Copyright ' + year + ' The Philadelphia Inquirer, LLC'
  }
</script>

</html>
