{% macro ad1(slot) %}
<div id="ad1000-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad1000" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad1000",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[300, 250]]",
                        "display": "mobile",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_21_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_21",
                            "position_type": "mrec_21_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
    <div id="ad2000-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden visible-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad2000" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad2000",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[728,90],[970,90]]",
                        "display": "desktop",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_21_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_21",
                            "position_type": "mrec_21_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
{% endmacro %}

{% macro ad2(slot) %}
<div id="ad1010-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad1010" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad1010",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[300, 250]]",
                        "display": "mobile",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_22_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_22",
                            "position_type": "mrec_22_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
    <div id="ad2010-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden visible-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad2010" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad2010",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[728,90],[970,90]]",
                        "display": "desktop",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_22_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_22",
                            "position_type": "mrec_22_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
{% endmacro %}

{% macro ad3(slot) %}
<div id="ad1020-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad1020" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad1020",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[300, 250]]",
                        "display": "mobile",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_23_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_23",
                            "position_type": "mrec_23_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
    <div id="ad2020-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden visible-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad2020" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad2020",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[728,90],[970,90]]",
                        "display": "desktop",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_23_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_23",
                            "position_type": "mrec_23_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
{% endmacro %}

{% macro ad4(slot) %}
<div id="ad1030-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad1030" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad1030",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[300, 250]]",
                        "display": "mobile",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_24_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_24",
                            "position_type": "mrec_24_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
    <div id="ad2030-sticky" data-ad-name="cube" class="arc-ad-wrapper container-column spaced spaced-top spaced-lg hidden visible-tablet-up righ-rail-ad-desktop ">
        <div class="container-row justify-center">
            <div id="ad2030" class="arcad"></div>
            <script>
                (function(helpers) {
                    if (window.scrollUser === false) window.helpers.initalizeAd({
                        "id": "ad2030",
                        "slotName": "phl.{{slot}}",
                        "adType": "cube",
                        "dimensions": "[[728,90],[970,90]]",
                        "display": "desktop",
                        "bidding": {
                            "amazon": {
                                "enabled": true,
                                "slotSuffix": "-mrec_24_article"
                            }
                        },
                        "targeting": {
                            "position": "mrec_24",
                            "position_type": "mrec_24_article"
                        }
                    }, {
                        lazyLoad: true
                    })
                })(window.helpers);
            </script>
        </div>
    </div>
{% endmacro %}
