<div class="social-share-tools">
  <style>
    #share-bar-inline .viafoura .vf-share-bar {
      justify-content: center
    }
  </style>
  <div id="newSocialShare">
    <div id="share-bar-inline" class="leaf-page-share leaf-page-inner">
      <div id="share-bar-bottom" class="viafoura">
        <div id="vf-share-bar" class="vf-widget vf-share-bar-default vf-share-bar-bw font--primary" data-widget="sharebar" data-button-view="false" data-show-labels="false" data-show-counters="false" data-show-total="false" data-path></div>
      </div>
    </div>
  </div>
</div>
