{% set photoInfo = site.gallery.Sheet1 %}
<div class="newgallery">
    <div class="image-wrapper">
        {% for item in photoInfo %}
        {% if loop.first %}
        <div class="active gallery-img" data-index="{{loop.index0}}">
            <img
                alt="{{item.caption}} ({{item.credit}})"
                data-index="{{loop.index0}}"
                class="lazy-load"
                src="//media.inquirer.com/storage/inquirer/projects/2020/01/kobe-prom/{{item.url}}">
        </div>
        {% else %}

        <div class="gallery-img" data-index="{{loop.index0}}">
            <img
                alt="{{item.caption}} ({{item.credit}})"
                data-index="{{loop.index0}}"
                class="lazy-load"
                src="#"
                data-src="//media.inquirer.com/storage/inquirer/projects/2020/01/kobe-prom/{{item.url}}">
        </div>
        {% endif %}
        {% endfor %}

        <div class="prev arr">
            <i class="prev arrow-icon fa fa-chevron-left" aria-hidden="true">&zwnj;</i>
        </div>
        <div class="next arr beforeClick">
            <i class="next arrow-icon fa fa-chevron-right" aria-hidden="true">&zwnj;</i>
        </div>

    </div>


    <div class="newCaption">
        <div class="index">
            <img src="http://media.philly.com/binary/camera.svg" alt="Camera icon">
            <span class="count">1</span> of {{photoInfo.length}}
        </div>
        <div class="caption containerPhotoCaption">&zwnj;</div>
    </div>
</div>
